* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
}

.Side {
  width: 250px;
  &__header {
    color: #fff;
    background-color: #333333;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  .List {
    height: calc(100vh - 50px);
    font-size: 20px;
    background-color: #555555;
    overflow: scroll;
    padding: 10px 0 10px 50px;
    &__btn a {
      color: #fff;
    }
    &__btn {
      width: 160px;
      padding: 10px;
      text-align: center;
      background-color: #fff;
      border-radius: 20px;
      color: #555555;
      border: 0;
      font-size: 18px;
    }
    &__menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__menu li {
      color: #fff;
    }
    &__home {
      margin-top: 20px;
    }
    &__mypage {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    &__registration {
      margin-bottom: 30px;
    }
    &__like {
      margin-top: 30px;
    }
    &__logout {
      margin-top: 30px;
    }
    &__session {
      margin: 30px 0 10px 0;
      .fa-sign-in-alt {
        margin-right: 6px;
      }
    }
    &__genre {
      margin-top: 30px;
      color: #fff;
    }
    &__genre li {
      font-size: 17px;
      margin-top: 10px;
    }
    &__genre p {
      margin-bottom: 30px;
    }
  }
  .side a :hover {
    opacity: 0.5;
  }
  .List li:hover {
    opacity: 0.5;
  }
}

.Title {
  font-size: 28px;
  font-weight: bold;
}

.like-icon .fas {
  padding-right: 10px;
}

.like-icon .far {
  padding-right: 10px;
}

.heart_red {
  color: red;
}

#like_red {
  color: red;
}

.Main {
  width: calc(100vw - 250px);
  background-color: #222222;
  overflow: scroll;
  height: 100vh;
  .Search-box {
    text-align: center;
    height: 50px;
    background-color: #AAAAAA;
    position: relative;
    &__input {
      position: absolute;
      top: 12.5px;
      right: 10px;
      width: 35%;
      height: 25px;
      padding: 0 50px 0 10px;
      border: #fff solid 1px;
      border-radius: 20px;
      outline: none;
    }
    &__btn {
      position: absolute;
      top: 12.5px;
      right: 10px;
      width: 40px;
      height: 25px;
      background-color: #222222;
      text-align: center;
      color: #fff;
      border: #222222 solid 1px;
      padding-top: 3px;
      border-radius: 0 20px 20px 0;
    }
  }
  .Contents {
    padding-right: 10px;
    &__post {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 20px;
    }
    &__post-main {
      flex-wrap: wrap;
      padding: 30px 0 0 20px;
      color: #fff;
      max-width: 1190px;
      h2 {
        padding-left: 20px;
      }
    }
    &__post-user {
      flex-wrap: wrap;
      padding-left: 20px;
      margin-bottom: 30px;
      color: #fff;
      max-width: 1190px;
      h2 {
        padding-left: 20px;
      }
    }
  }
}

input::placeholder {
  color: #222222;
}

.Post-genre-all {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  max-height: 720px;
  .Picture-top {
    height: 200px;
    min-width: 250px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    .Information-top {
      width: 250px;
      height: 200px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      opacity: 0;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .Information-top:hover {
      opacity: 1;
      transition: all 0.6s ease;
      padding-bottom: 0;
    }
    .Picture-top:hover .hover-mask {
      padding-bottom: 30px;
    }
  }
}

.Post-genre-raty {
  display: flex;
  overflow-y: scroll;
  .Picture-top {
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    min-width: 250px;
    .Information-top {
      width: 250px;
      height: 200px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      opacity: 0;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .Information-top:hover {
      opacity: 1;
      transition: all 0.6s ease;
      padding-bottom: 0;
    }
    .Picture-top:hover .hover-mask {
      padding-bottom: 30px;
    }
  }
}

.Post-genre-likes {
  display: flex;
  overflow-y: scroll;
  .Picture-top {
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    min-width: 250px;
    .Information-top {
      width: 250px;
      height: 200px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      opacity: 0;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .Information-top:hover {
      opacity: 1;
      transition: all 0.6s ease;
      padding-bottom: 0;
    }
    .Picture-top:hover .hover-mask {
      padding-bottom: 30px;
    }
  }
}

.Post-genre-like {
  display: flex;
  overflow-y: scroll;
  .Picture-top {
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    min-width: 250px;
    .Information-top {
      width: 250px;
      height: 200px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      opacity: 0;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .Information-top:hover {
      opacity: 1;
      transition: all 0.6s ease;
      padding-bottom: 0;
    }
    .Picture-top:hover .hover-mask {
      padding-bottom: 30px;
    }
  }
}


.Posts {
  &-show {
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    margin: 20px 0;
    width: 600px;
  }
  &__name {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    &-top {
      color: #fff;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  &__picture {
    margin: 16px 0 20px 0;
    & ul li {
    display: flex;
    flex-direction: column;
    width: 560px;
    align-items: center;
    margin: 0 auto;
    }
    ul>li img {
      object-fit: cover;
      height: 346px;
      width: 600px;
    }
    ul>li ul {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    ul>li>ul li {
      width: 50%;
      margin: 0 5px 0 5px;
    }
    ul li>ul li img {
      object-fit: cover;
      height: 95px;
      width: 110px;
    }
  }
}

.Information {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  &__recommend {
    display: flex;
    align-items: center;
    &-evaluation {
      margin: 0 5px;
      color: lightcoral;
      font-size: 40px;
      font-weight: bold;
    }
  }
  &__contents {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    a:hover {
      opacity: 0.5;
    }
    &-name {
      font-weight: bold;
    }
    &-text {
      width: 600px;
      word-wrap : break-word;
      overflow-wrap : break-word;
      font-size: 18px;
      padding: 0 10px;
    }
  }
  &__text {
    display: flex;
    align-items: center;
  }
  &__likes-comments {
    font-size: 12px;
    &-top {
      font-size: 12px;
      margin-top: 15px;
    }
  }
  &__like-button {
    display: flex;
  }
}

.NewPage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  &__box {
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41,41,41,0.2);
    background-color: white;
    box-sizing: border-box;
  }
}

.NewPage__title {
  width: 100%;
  font-size: 14px;
  text-align: center;
  h2 {
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 40px;
    color: #222222;
  }
}

.Form__contents {
  display: flex;
  flex-direction: column;
  width: 600px;
  &-title {
    margin-bottom: 20px;
  }
  &-genre {
    margin-bottom: 20px;
  }
  &-text {
    margin-top: 20px;
  }
}

.FormField {
  margin-bottom: 10px;
}

#tweet_text {
  height: 350px;
  width: 100%;
  margin: 10px 0 20px 0;
}

#tweet_evaluation {
  margin-top: 20px;
}

#comment_text {
  height: 100px;
  margin-bottom: 20px;
}

#tweet_title {
  width: 100%;
  margin: 10px 0 5px 0;
  height: 40px;
  border: 1px solid #222222;
  border-radius: 5px;
  padding: 0 5px;
}

#tweet_category {
  margin-bottom: 20px;
}

#tweet_date {
  margin: 10px 0 25px 0;
  height: 25px;
  width: 160px;
  text-align: center;
}

#tweet_image {
  margin-bottom: 20px;
}

.Form__checkbox {
  margin-top: 10px;
  font-size: 15px;
}

input[type="checkbox"] {
  margin: 0 2px 0 5px;
}

label {
  width: 50%;
  color: #222222;
}

.Image-tag {
  display: block;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  color: #222222;
  text-decoration: none;
  text-align: center;
}

.button {
  background-color: #555555;
  color: #fff;
  width: 100%;
  height: 50px;
  border: 1px solid #555555;
  border-radius: 5px;
  cursor: pointer;
}

::placeholder {
  color: #222222;
}

textarea {
  width: auto;
  height: auto;
  color: #222222;
  border: 1px solid #222222;
  border-radius: 5px;
  padding: 5px 5px;
}

.tweet_text {
  width: 500px;
}

.userName {
  color: #fff;
  text-align: center;
  font-size: 20px;
  height: 60px;
  line-height: 80px;
  border-bottom:1px solid #222222;
  border-top: 1px solid #222222;
}

.DestroyEdit {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  &__Edit-btn {
    width: 290px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    color: #222222;
    border: #222222 solid 2px;
    font-size: 18px;
    margin-right: 10px;
  }
  &__Destroy-btn {
    width: 290px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    color: #222222;
    border: #222222 solid 2px;
    font-size: 18px;
    margin-left: 10px;
  }
}

.Comments {
  width: 600px;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  &__Form {
    display: flex;
    flex-direction: column;
  }
  &__list {
    padding-top: 25px;
    overflow: scroll;
    &-comment {
      padding-bottom: 20px;
      a {
        color: #222222;
      }
    }
  }
}

h4 {
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 15px;
}

.Picture {
  &__sub {
    max-width: 200px;
    object-fit: cover;
  }
  &-home {
    text-align: center;
    width: 250px;
    height: 200px;
    object-fit: cover;
  }
}

.Required {
  font-size: 12px;
  color: white;
  background-color: red;
  margin-left: 5px;
  padding: 0 4px;
  border-radius: 2px;
  display: inline-block;
  line-height: 1.4em;
}

.Form__label {
  font-weight: bold;
  line-height: 1.4em;
}

.Form__evaluation {
  width: 102px;
}

.ImageSide__form__icon-under{
  width: 100%;
  font-size: 24px;
  border:1px dashed lightslategray;
  background-color:rgb(245, 245, 245);
  margin-top: 10px;
  padding:0 5px;
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ErrorMessage{
  font-size:16px;
  font-size: initial;
  font-weight: initial;
  color:red;
  margin-top: 15px;
}

.ErrorMessage__price{
  font-size:16px;
  color:red;
  text-align: end;
  font-weight: initial;
  margin-top: 15px;
}

.ImageFile{
  display: none;
}

.ImageSide__form__icon__text-under{
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
}
.js-remove{
  margin-right: auto;
}

#previews{
  display: flex;
}

.content{
  padding: 10px 15px;
  text-align: center;
}

.show-image{
  height: 150px;
  width: 110px;
  background-color:white;
  border: 1px solid lightgrey;
  margin: 5px 10px 0 0;
}

.image-file{
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.ImageFile_group {
  display: none;
}

.ImageSide{
  &__label{
    font-weight: bold;
    line-height: 1.4em;
  }
  &__PhotoNumber{
    margin: 10px 0 20px 0;
    font-size: 14px;
    line-height: 1.4em;
  }
  &__form{
      display: flex;
    &__icon{
      width: 100%;
      height: 150px;
      font-size: 24px;
      border: 1px dashed lightslategray;
      background-color: whitesmoke;
      padding: 0 5px;
      margin: 5px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__text{
        font-size: 12px;
        line-height: 1.4em;
        text-align: center;
      }
    }
  }
}

.like-count {
  color: #fff;
}